 <!--CSS-->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<!--JS-->
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
<main class="main single" id="main">
    <div class="main-inner">
        <div class="content home">
            <p>
                Einige Politiker behaupten immer wieder, Dortmund sei auf dem Weg das 'Kopenhagen Westfalens' zu werden.
                Hier möchte ich diesen Politkern eine kleine Erinnerungsstütze bieten, die zeigt wie lang dieser Weg 
                noch immer ist und was sie alles versäumt haben, um diesen Weg weiterzugehen.
            </p>
            <div id="mapid7465529" style="width:100%;height:350px;z-index:-1"></div>
        </div>
        <script>
            let zoom = 13;
            var MarkerIconPromise = L.Icon.extend({
                options: {
                    // TODO define shadow img
                    // shadowUrl: 'leaf-shadow.png',
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });
            //Create Map
            var mymap = L.map('mapid7465529').setView([51.511551, 7.465529], zoom);
            //Add tiles
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

            let markerURL = '/data/marker.json';
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", markerURL, true );
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    let markers = JSON.parse(xmlHttp.responseText);
                    for(marker of markers) {
                        console.log("Adding marker");
                    }
                }
            };
            xmlHttp.send( null );
        </script>
    </div>
</main>
